main{
    background-color: black;
    color: white;
    font-weight: 600;
}
header{
    background-color: black;
}
.container{
    margin : 3.5rem auto;
}

#row{
    margin-top: 5rem;
}

#body{
    background-color: black;
    color: white;
    font-weight: 600;

}

img{
    margin-left: -2rem;
    margin-top: 8rem;
    width: 25rem;
    border: gold;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 100px;
    
}

#para{
    /* margin: 5rem auto; */
    font-size: medium;
    margin-top: 3rem;
    color: pink;

    
}

p{
    font-family: 'Dancing Script', cursive;
    line-height: 2rem;
    font-weight: lighter;
    font-size: 2rem;
}


.intro{
    margin-top: 0;
}

.marketing{
    border: gold;
    border-style: solid;
    border-width: 0.5rem;
    border-radius: 100px;
}

.scroll{
    color: red;
    background-color: yellow;
    margin-top: 5rem;
    margin-bottom: 0;
    font-weight: 900rem;
  
  }