body{
    background-color: black;
    color: white;
}
#red{
    color: red;
    font-weight: bolder;
}

h3{
    
    text-align: center;
}



.center{
    margin: auto;
    display: block;
}

input{
    text-align: center;
    border-radius: 3rem;
    border-width: 0.2rem;
    border-color: white;
    color: green;
    font-weight: bolder;
}

input:focus{
    outline: none;
}

#button{
    background-color: limegreen;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
